* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: beige;
}

.form input {
    flex: 7;
    padding: 5px;
    margin: 10px;
    border: 0px solid;
    border-radius: 3px;
    box-shadow: 5px 5px 6px #00000040;
}

.form input:focus {
    outline: none;
}

.form button {
    flex: 1;
    background-color: red;
    padding: 5px;
    margin: 10px;
    border: 0px solid;
    border-radius: 3px;
    box-shadow: 5px 5px 6px #00000040;
}

.form button:hover {
    cursor: pointer;
    background-color: brown;
}