* {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.form {
    width: 60%;
    gap: 3px;
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
}

.form input {
    background-color: #ffff;
    flex: 7;
    padding: 10px;
    border: 2px solid #387ef0;
    border-radius: 8px;
}

.form input:focus {
    outline: none;
}

.form button {
    color: #ffff;
    font-weight: bold;
    flex: 1;
    background-color: #2f7af3;
    padding: 5px;
    border: 0px solid;
    border-radius: 8px;
}

.form button:hover {
    cursor: pointer;
    background-color: #4283eb;
}

.list {
    width: 60%;
    display: flex;
}

.list todo-item {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nullable p {
    color: rgba(0, 0, 0, 0.4);
}

.btn {
    min-width: 40px;
    background-color: rgb(212, 109, 109);
    border: none;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 3px;
}

.btn:hover {
    width: 60px;
    border: none;
    background-color: rgb(233, 52, 52);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn svg{
    width: 20px;
    height: 100%;
}