* {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    padding: 40px 200px;
}

.form {
    width: 100%;
    gap: 3px;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.form input {
    background-color: #ffff;
    flex: 7;
    padding: 10px;
    border: 2px solid #387ef0;
    border-radius: 8px;
}

.form input:focus {
    outline: none;
}

.form button {
    color: #ffff;
    font-weight: bold;
    flex: 1;
    background-color: #2f7af3;
    padding: 5px;
    border: 0px solid;
    border-radius: 8px;
}

.form button:hover {
    cursor: pointer;
    background-color: #4283eb;
}

.list {
    width: 100%;
}

.list todo-item {
    cursor: pointer;
}